.reg-body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-login {
    
    max-width: 500px;
    width: 100%;
    padding: 50px;
    background: white;
    border: 20px solid #1111;
}

.container-login .logo {
    
    opacity: 0.6;
    margin-bottom: 20px;
}

h2 {
   

    color: #1b1b1b;
}

input {
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    
    border-bottom: 1px solid #555;
}

.input:focus {
    border-bottom: 1px solid #0067b8;
}

.login-row,
.register-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.login-row label,
.register-row label {
    font-size: 12px;
    margin-right: 10px;
}

.login-row label input,
.register-row input {
    width: initial;
    height: initial;
    transform: translateY(1.5px);
}

a {
    text-decoration: none;
    color: #0067b8;
}



button {
    width: 100%;
    height: auto;
    background: black;
    
    color: white;
   
    
    cursor: pointer;
  
}

p {
    text-align: center;
    margin: 15px 0;
    color: #555;
}

.login-social {
    display: flex;
    justify-content: space-between;
}

.login-social a {
    flex: 1;
    text-align: center;
    color: white;
    padding: 7px 0;
}

.login-social #fb {
    background: #0067b8;
    margin-right: 5px;
}

.login-social #gg {
    background: crimson;
    margin-left: 5px;
}

.container-login .row {
    position: relative;
}
