#service-card{
    display: block;
    align-items: center;
    text-align: center;
    width: auto;
    margin:5%;
    height:auto;
}
#select-payment{
    text-align: center;
    padding:10px;
    width: auto;
}
#order-btn{
    width: auto;
    margin: 0;
    
}
#select-payment select{
    padding:10px;
}